extends ../layout

block content
    h1 Editar turno
    if turno
        form#formEditarTurno(method="post" action=`/turnos/${turno._id}?_method=PUT`)
            div
                label(for="pacienteId") Paciente ID:
                input(type="text" name="pacienteId" id="pacienteId" required value=turno.pacienteId)
            div
                label(for="dia") Día:
                input(type="text" name="dia" id="dia" required value=turno.dia)
            div
                label(for="hora") Hora:
                input(type="text" name="hora" id="hora" required value=turno.hora)
            div
                label(for="motivo") Motivo:
                input(type="text" name="motivo" id="motivo" required value=turno.motivo)
            div
                label(for="medicoAsignado") Médico asignado:
                    if medicos && medicos.length
                        select(name="medicoAsignado" id="medicoAsignado" required)
                            option(value="") Seleccione un médico
                            each medico in medicos
                                option(
                                    value=String(medico._id)
                                    selected=(String((turno.medicoAsignado && turno.medicoAsignado._id) || turno.medicoAsignado || '') === String(medico._id))
                                )= medico.nombre
                    else
                        input(
                            type="text"
                            name="medicoAsignado"
                            id="medicoAsignado"
                            required
                            value=turno.medicoAsignado
                        )
            button(type="submit") Guardar cambios
            a(href="/turnos") Cancelar
    else
        p Turno no encontrado.